 <!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-4 text-center">
                <h4><strong>Site Haritası</strong></h4><hr />
                <p>
                    <a href="/Home/MostLiked"><span class="glyphicon glyphicon-star"></span> En Beğenilenler</a><br />
                    <a href="/Home/Index"><span class="glyphicon glyphicon-th-list"></span> Son Yazılanlar</a><br />
                    <a href="/Home/About"><span class="glyphicon glyphicon-info-sign"></span> Hakkımızda</a>
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h4><strong>NoteHub</strong></h4><hr />
                <p>
                    Tüm hakları saklıdır &copy;<br />
                    NoteHub | @DateTime.Now.Year
                </p>
            </div>

            <div class="col-lg-4 text-center">
                <h4><strong>NoteHub Üyelik Bilgisi !</strong></h4><hr />
                <p>E-Posta Adresiniz ile sisteme üye olduktan sonra sisteme giremiyorsanız, Lütfen E-Mail Hesabınızı kontrol edip aktivasyon işlemini gerçekleştiriniz.</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
